# NeonDB Database Connection String
# Ambil dari console neon.tech Anda. Pilih mode 'Pooled connection' atau standard.
DATABASE_URL="postgres://username:password@ep-xxxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

# JWT Secret Key untuk enkripsi token session
# Ganti dengan string acak buatan Anda sendiri untuk keamanan produksi.
JWT_SECRET="ganti_ini_dengan_kunci_rahasia_yang_sangat_panjang_dan_aman_12345"
